name: Generate Dog Contribution Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: dhairyamittal28106-alt
          outputs: |
            dist/dog.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
